---
import { Image } from "astro:assets";
import hero from "../images/automind1.webp";
import Galleri from "../components/gallery.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AutoMind </title>
	</head>
	<body>
		<div class="logo">
			<svg xmlns="http://www.w3.org/2000/svg" width="300.291" height="132.721" data-name="Group 3">
  <defs>
    <clipPath id="a">
      <path fill="#C0C0C0" d="M0 0h300.291v132.721H0z" data-name="Rectangle 2"/>
    </clipPath>
  </defs>
  <path fill="#C0C0C0" d="m15.909 97.414 8.436 21.979H7.519Zm-1.146-3.047L0 132.449h2.521L6.6 121.732h18.615l4.126 10.717h2.522L17.1 94.367Z" data-name="Path 1"/>
  <g data-name="Group 2">
    <g fill="#C0C0C0" clip-path="url(#a)" data-name="Group 1">
      <path d="M45.593 128.532q-3.369-4.189-3.369-12.241V94.367h2.338v21.816q0 7.018 2.7 10.5a10.517 10.517 0 0 0 15.635 0q2.7-3.481 2.7-10.5V94.367h2.342v21.925q0 8.052-3.393 12.241a11.526 11.526 0 0 1-9.49 4.189q-6.1 0-9.467-4.189" data-name="Path 2"/>
      <path d="M89.859 96.873H78.306v-2.5h25.444v2.5H92.197v35.579h-2.338Z" data-name="Path 3"/>
      <path d="M119.658 130.191a17.359 17.359 0 0 1-5.983-6.936 23.348 23.348 0 0 1 0-19.693 17.357 17.357 0 0 1 5.983-6.937 15.709 15.709 0 0 1 17.054-.027 17.171 17.171 0 0 1 5.983 6.91 23.6 23.6 0 0 1 0 19.8 17.16 17.16 0 0 1-5.983 6.909 15.708 15.708 0 0 1-17.054-.027m15.817-2.2a14.985 14.985 0 0 0 5.135-6.011 20.481 20.481 0 0 0 0-17.137 14.987 14.987 0 0 0-5.135-6.012 13.334 13.334 0 0 0-14.6 0 14.9 14.9 0 0 0-5.158 6.012 20.469 20.469 0 0 0 0 17.137 14.9 14.9 0 0 0 5.158 6.011 13.336 13.336 0 0 0 14.6 0" data-name="Path 4"/>
      <path d="m187.464 132.449-.046-27.745-11.6 23.121h-2.109l-11.6-22.958v27.582h-4.4V94.367h3.759l13.387 26.766 13.2-26.766h3.759l.046 38.082Z" data-name="Path 5"/>
      <path d="M206.994 94.367h4.584v38.082h-4.584z" data-name="Rectangle 1"/>
      <path d="M254.305 94.367v38.082h-3.759l-19.255-28.4v28.4h-4.586V94.367h3.759l19.256 28.4v-28.4Z" data-name="Path 6"/>
      <path d="M269.437 94.367h13.525a17.058 17.058 0 0 1 9.031 2.394 16.177 16.177 0 0 1 6.12 6.718 23.715 23.715 0 0 1 0 19.857 16.172 16.172 0 0 1-6.12 6.719 17.053 17.053 0 0 1-9.031 2.393h-13.525Zm13.249 33.349a12.951 12.951 0 0 0 6.855-1.8 11.952 11.952 0 0 0 4.561-5.032 18.238 18.238 0 0 0 0-14.96 11.956 11.956 0 0 0-4.561-5.033 12.951 12.951 0 0 0-6.855-1.8h-8.667v28.616Z" data-name="Path 7"/>
      <path d="m93.153 67.082-.074-.243.118-.213c.081-.147.638-1.161 1.542-2.66.26-.426.539-.889.848-1.382-.873.1-1.74.221-2.607.367h-.031c-.266.044-.538.088-.805.14-11.755 2.1-22.749 8.011-31.859 22.115l.712.647c9.965-15.426 29.469-14.691 48.334-13.979 7.482.279 15.137.573 22.179-.169-35.161-.831-38.14-3.925-38.357-4.623" data-name="Path 8"/>
      <path d="M211.239 63.749a48.84 48.84 0 0 0-2.775-.6c-.142-.029-.291-.051-.434-.081a52.401 52.401 0 0 0-1.871-.294c.267.426.508.823.737 1.191.031.059.062.11.1.169l-.279.294h.453c.736 1.242 1.2 2.065 1.263 2.2l.118.213-.074.243c-.223.706-3.258 3.859-39.44 4.652 6.973.706 14.53.419 21.925.14 18.859-.713 38.369-1.448 48.334 13.979l.712-.647c-8.305-12.854-18.184-18.9-28.769-21.461" data-name="Path 9"/>
      <path d="m208.712 62.355-.019-.037c-.3-.551-7.463-13.6-14.313-17.962-7.488-4.755-32.962-5.27-43.565-5.27s-36.071.515-43.559 5.27C100.4 48.714 93.24 61.767 92.943 62.318l-.124.221.081.243a.608.608 0 0 0 .08.169 3.754 3.754 0 0 0 1.759 1.014c.26-.426.539-.889.849-1.382 2.719-4.336 7.352-10.973 11.86-13.839 7.457-4.741 32.813-5.248 43.367-5.248s35.916.507 43.367 5.248c4.571 2.9 9.284 9.694 11.978 14.03.266.426.508.823.737 1.19.155-.051.291-.11.421-.162a4.2 4.2 0 0 0 1.146-.654.841.841 0 0 0 .272-.367l.074-.243Z" data-name="Path 10"/>
      <path d="m199.339 64.134-.279.294h.452c-.056-.1-.118-.191-.173-.294" data-name="Path 11"/>
      <path d="M222.442 60.378c-.043-.2-1.177-4.968-9.383-5.674a2.113 2.113 0 0 0-1.784.75 3.13 3.13 0 0 0-.768 2.095v2.477a1.155 1.155 0 0 1-.3.779l-1.5 1.551-.681.713-.712.735-.322.33-.279.294h1.164a12.179 12.179 0 0 0 3.357-.683 73.489 73.489 0 0 0 2.186-.728c2.744-.933 5.853-1.992 8.6-1.992h.563Z" data-name="Path 12"/>
      <path d="m92.948 62.951-3.363-3.483a1.155 1.155 0 0 1-.3-.779v-2.477a3.162 3.162 0 0 0-.768-2.1 2.125 2.125 0 0 0-1.784-.742c-8.207.706-9.34 5.468-9.383 5.674l-.142.647h.563c2.744 0 5.853 1.059 8.6 1.992a20.326 20.326 0 0 0 5.543 1.411h1.164Z" data-name="Path 13"/>
      <path fill-rule="evenodd" d="m236.216 54.411-.031-13.05-1.413-.709.033 13.763a3.328 3.328 0 0 0-.13 5.967l-.072.289-.917 3.757 1.85-.006 1.847-.006-.934-3.751-.073-.288a3.133 3.133 0 0 0 1.775-2.961 3.093 3.093 0 0 0-1.935-3" data-name="Path 14"/>
      <path fill-rule="evenodd" d="M215.601 20.778 194.936 0l-26.762 4.93-26.763 4.929v.022l1.186 1.185v-.016l3.048 3.065.022.023 12.974 13.045-1.826 7.7a41.746 41.746 0 0 1 30.17-1.362c10.249 3.425 18.906 10.533 25.14 19.845l1.826-7.7 22.314-4.108Z" data-name="Path 15"/>
    </g>
  </g>
</svg>
		</div>
		<div class="hero">
			<Image src={hero} alt="AutoMind The Workshop" width="1920" height="600" class="heroImage"/>
		</div>
		<div class="container">
			<h1>Velkommen hos AutoMind</h1>
			<p>AutoMind er din nøgle til at forstå fremtidens køretøjer. Vi specialiserer os i at levere førsteklasses uddannelsesmuligheder inden for autobranchen, både onsite og online. Vores kurser er skræddersyet til at ruste jer med den viden og ekspertise, der er nødvendig for at navigere i den hastigt udviklende autobranche.</p>
<p>Uanset om du foretrækker at deltage i vores praktiske onsite kurser eller tage din uddannelse med dig via vores online platform, er AutoMind din partner på vejen mod at forstå, vedligeholde og fejlsøge på alle typer køretøjer, både i dag og i fremtiden. Så hop ind i fremtiden sammen med AutoMind og vær med til at forme den nye autobranche.</p>

	<h3>Kontakt AutoMind</h3>
	<h4>AutoMind ApS</h4>
	<p>Horsevang 4, 9800 Hjørring <br>
	Tlf: <a href="tel:40 86 88 78">40 86 88 78</a><br>
	<a href="mailto:info@automind.dk">info@automind.dk</a><br>
	CVR: 40611797</p>
</div>
<div class="gallery">
	<Galleri imagePath="/src/images/automind2.webp" altText="Tre biler på række hos Automind" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind3.webp" altText="Kursuslokalet set fra tavlen" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind4.webp" altText="Værktøjsbord med diverse ting til elbiler" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind5.webp" altText="Elbils dele" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind6.webp" altText="Kursuslokalet fra værkstedet" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind7.webp" altText="Værkstedet" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind8.webp" altText="Byd Atto 3 og Byd Seal bagfra" width={400} height={200}/>
	<Galleri imagePath="/src/images/automind1.webp" altText="Byd Atto 3 og Byd Seal" width={400} height={200} />
</div>

	</body>
</html>

<style>
@import url("https://use.typekit.net/lbj2leo.css");

:root {
		--silver: oklch(80.78% 0 0);
		--orange:  oklch(78.97% 0.175 64.06);
	}

	.container {
		width: 90%;
		max-width: 1440px;
		margin-inline: auto;
		margin-top: 1rem;
	}

	html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p + p {
	margin-top: 1.5rem;

}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
	background: oklch(0% 0 0);
	color: var(--silver);
font-family: loew-variable, sans-serif;
line-height: 1.5;
}

h3 {
	margin-top: 1.5rem;
}

h4 {
	margin-top: 1rem;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
	object-fit: cover;
}

a {
	color: var(--orange);
	font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.heroImage {
	aspect-ratio: 16 / 9;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	margin-top: 2rem;
	.galleryImg {
		aspect-ratio: 16 / 9;
		width: 100%;
		height: auto;
	}

}

</style>